<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smart.farm.poultry.mapper.PigPigstyMapper">

    <resultMap id="BaseResultMap" type="com.smart.farm.poultry.domain.PigPigsty">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="length" column="length" jdbcType="INTEGER"/>
            <result property="wide" column="wide" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,length,wide
    </sql>
</mapper>
